certifi==2026.5.20
charset-normalizer==3.4.7
docutils==0.23
filetype==1.2.0
idna==3.18
Kivy==2.3.1
Kivy-Garden==0.1.5
kivy_deps.angle==0.4.0
kivy_deps.glew==0.3.1
kivy_deps.sdl2==0.8.0
kivymd==1.2.0
pillow==12.2.0
Pygments==2.20.0
pymodbus==3.13.0
pyModbusTCP==0.3.0
pypiwin32==223
pywin32==312
requests==2.34.2
urllib3==2.7.0
